UPLOAD_TMP=tmp/uploads
PARSE_TMP=tmp/parse

WEBODM_ROOT=
WEBODM_USER=
WEBODM_PASS=

SERVER_PORT=
MONGOEXPRESS_PORT=

MONGO_ROOT_USER=
MONGO_ROOT_PASS=
MONGO_APP_USER=
MONGO_APP_PASS=
MONGOEXPRESS_USER=
MONGOEXPRESS_PASS=

MONGO_BASE_ADDRESS=

RABBITMQ_USER=
RABBITMQ_PASS=

CELERY_BROKER_URL=

DATABASE=

UID=
GID=