STAC_ENDPOINT=https://stac.api.com/v1

GEE_SERVICE_EMAIL=service@project.google.com
GEE_SERVICE_KEY=secrets/project-ket.json

LDSR2_CONFIG_URL=https://raw.githubusercontent.com/ESAOpenSR/opensr-model/refs/heads/main/opensr_model/configs/config_10m.yaml